@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* variables pour les couleurs */
    --white: #FCF9F9;
    --black: #3d3d3d;
    --pink: #FFF5FC;
}

* {
    margin: 0;
}

body {
    margin: 0;
    /* background-color: var(--white);
    color: var(--black);
    font-weight: bold;

}

/* HEADER */

header {
    background-color: var(--pink);
    color: var(--black);
}

header > img {
    width: 40%; /* à changer losrque l'image "finale" sera choisie */
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    gap: 1em;
    

}
/* Palier */
header > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 1em;
    
}

button {
    border: transparent;
    border-radius: 90%;
}

main li {
    /* outline rouge pour visualisation */
    border: 2px solid grey;
    box-shadow: 0 2px 2px 0 grey ;
    border-radius: 90%;
    background-color: var(--white);
    font-family: "Inter";
    font-size: smaller;

    padding: 0.5em;
}
header > ul > li {
    border: 2px solid black;
    border-radius: 40px;
}

/* MAIN */

main {
    background-color: var(--white);
    background-image: url(assets/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
main > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4rem;
}

/* bonus */
.bonus img {
    width: 6.5em;
}

/* nuage */
.cloud img {
    width: 220px;
}
.raindrop img {
    width: 20px;
}

/* footer */
footer {
    background-color: var(--pink);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-family: "Inter";
    font-size: smaller;
    height: 2rem;
}
footer a {
    text-decoration: none;
}
}