@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* variables pour les couleurs */
    --white: #FCF9F9;
    --black: #3d3d3d;
    --pink: #FFF5FC;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;

}

header {
    background-color: var(--pink);
}

header > img {
    width: 40%; /* à changer losrque l'image "finale" sera choisie */
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    gap: 1em;
    

}

header > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 1em;
    
}

button {
    border: transparent;
    border-radius: 90%;
}

main li {
    /* outline rouge pour visualisation */
    border: 2px solid grey;
    box-shadow: 0 2px 2px 0 grey ;
    border-radius: 90%;
    background-color: var(--white);
    font-family: "Inter";
    font-size: smaller;

}

footer {
    background-color: var(--pink);
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-family: "Inter";
    font-size: smaller;
}
