@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
:root {
    /* variables pour les couleurs */
    --white: #fcf9f9; /* #eeeeee ou #fcf9f9 */
    --black: #3d3d3d;
    --pink: #fff5fc;
    --green: #51a733;
}

* {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--pink);
    color: var(--black);
    font-family: "Inter";
    font-weight: bold;
}

/* HEADER */

header {
    background-color: var(--pink);
    color: var(--black);
}

header > img {
    width: 10em;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
}
/* style commun aux listes */
ul {
    list-style-type: none;
    padding: 0;
    gap: 1em;
}
/* Palier */
header > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 1em;
}
header > ul > li {
    border: 0.125rem inset black;
    border-radius: 2.5rem;
    width: fit-content;
    padding: 0.25rem;
    background-color: var(--green);
}

/* button {
    border: transparent;
    border-radius: 90%;
} */

/* main li {
    border: 2px solid grey;
    box-shadow: 0 2px 2px 0 grey;
    border-radius: 90%;
    padding: 0.5em;
} */

/* MAIN */

main {
    background-color: var(--white);
    background-image: url(assets/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 68vh; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}
main > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4rem;
}

/* bonus */
.bonus img {
    width: 6.5em;
}
.bonus button {
    margin-top: 1rem;
    border: transparent;
    width: fit-content;
    border-radius: 100%;
    background-color: transparent;
}
/* style commun au nuage/goutte */
.clicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* nuage */
.cloud img {
    width: 14rem;
}
.raindrop img {
    width: 1.25rem;
}
/* score */
.score-display {
    background-color: var(--green);
    border: 0.125rem outset black;
    border-radius: 1em;
    padding: 0.25rem;
    width: fit-content;
    justify-self: center;
    max-height: 1.25rem;
    align-self: center;
}
/* footer */
footer {
    background-color: var(--pink);
    margin: 0.25rem auto;
    padding: 10px;
    text-align: center;
    font-size: smaller;
}
footer a {
    text-decoration: none;
}
